<h2> Login Form </h2>

<!--
  app.post('/checklogin', (req, res, next) => { ...-->

<form method="post" action="/checklogin">

    <label for="email-input"> Email </label>
    <input  id="email-input" name="emailValue" type="text" placeholder="name@example.com">
    <br>

    <label for="password-input"> Password </label>
    <input  id="password-input" name="passwordValue" type="password" placeholder="swordfish">
    <br>

    <button> Login </button>

</form>
