<h2> Search Page </h2>


<!--
  app.get('/search-results', (req, res, next) => { ...-->

<form method="get" action="/search-results">

    <label for="search-input"> Search Term </label>
    <input  id="search-input" name="mySearchTerm" type="search" placeholder="video games">
    <br>

    <input  id="hot-dog-check" name="hotDogOption" type="checkbox">
    <label for="hot-dog-check"> Interested in hot dogs? </label>
    <br>

    <button> Search </button>

</form>
